<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5 py-2">
        <a class="mx-2" href="products"><img style="width: 30px; height: 30px; padding: auto"
                src="https://i.postimg.cc/T16K9qSy/Capture.jpg" alt="BM" />
        </a>
        <a class="navbar-brand" href="products"><strong>BlackMirror</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 container-fluid">
                <li class="nav-item col-1 ms-auto me-auto">
                    <a class="nav-link active" aria-current="page" href="products">Home</a>
                </li>
                <li class="nav-item col-5 ms-auto me-auto">
                    <a class="nav-link" href="products/add_product">Add New Product</a>
                </li>
            </ul>

            <div class="container-fluid">
                <form class="d-flex col-10 ms-auto me-auto" role="search">
                    <input [(ngModel)]="searchTerm" (keyup)="search($event)" class="form-control me-2" type="search"
                        placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>


            <form class="d-flex justify-content-center m-2">
                <button class=" d-flex align-items-center btn btn-outline-dark" type="submit">
                    <i class="fa-solid fa-cart-shopping m-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 m-1 rounded-pill">0</span>
                </button>
            </form>

        </div>
    </div>
</nav>