<div class="p-5 container w-50 text-center">

    <h3>Update Product</h3>

    <form (ngSubmit)="updateProduct(updateProductForm)" #updateProductForm="ngForm" action=""
        class="bg-secondary mt-2 p-5 rounded">

        <input [(ngModel)]="pdata.id" class="form-control mb-2 p-2 ps-4" type="text" placeholder="id" name="pin"
            id="pid">

        <input [(ngModel)]="pdata.productName" class="form-control mb-2 p-2 ps-4" type="text" placeholder="Name"
            name="pn" id="pd">

        <input [(ngModel)]="pdata.categoryId" class="form-control mb-2 p-2 ps-4" type="text" placeholder="category Id"
            name="pin1" id="pid9">

        <input [(ngModel)]="pdata.discription" class="form-control mb-2 p-2 ps-4" type="text" placeholder="discription"
            name="pin2" id="pid8">

        <input [(ngModel)]="pdata.price" class="form-control mb-2 p-2 ps-4" type="text" placeholder="price" name="pin3"
            id="pid7">

        <input [(ngModel)]="pdata.isAvailable" class="form-control mb-2 p-2 ps-4" type="text"
            placeholder="availability true/false" name="pin4" id="pid6">

        <input [(ngModel)]="pdata.productImage" class="form-control mb-2 p-2 ps-4" type="text"
            placeholder="product Image" name="pin5" id="pid5">

        <input [(ngModel)]="pdata.rating" class="form-control mb-2 p-2 ps-4" type="text" placeholder="rating"
            name="pin6" id="pid4">

        <input [(ngModel)]="pdata.review" class="form-control mb-2 p-2 ps-4" type="text" placeholder="review"
            name="pin7" id="pid3">

        <input [(ngModel)]="pdata.vendorName" class="form-control mb-2 p-2 ps-4" type="text" placeholder="vendor name"
            name="pin8" id="pid2">

        <input [(ngModel)]="pdata.warrenty" class="form-control mb-2 p-2 ps-4" type="text" placeholder="waranty"
            name="pin9" id="pid1">

        <button type="submit" class="btn btn-dark m-2 w-25">Update</button>

    </form>

</div>